### Tuple

* Tuples are immutable
* We can't sort or reverse the tuple 
* Faster than list

In [1]:
my_tuple = (1,2,3)
print(3 in my_tuple)
my_tuple[1] = 0;

True

TypeError: 'tuple' object does not support item assignment

In [3]:
x,y,z,*other = (1,2,3)
print(x,y,z,other)

1 2 3 []

In [5]:
print(my_tuple.count(1))

1

In [8]:
print(my_tuple.index(2))
print(len(my_tuple))

1
3

### Sets

* Unordered collection of a unique values
* No duplicates
* Sets used to eliminate dupliacte values in username or pswds
* We can't access the elements using index

In [11]:
my_set = {1,2,3,4,5,5}
print(my_set)

{1, 2, 3, 4, 5}

In [14]:
my_list = [2,3,1,1,1,2]
print(list(set(my_list)))

[1, 2, 3]

In [16]:
set1 = (3,5,1)
print(set1)

(3, 5, 1)

In [28]:
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9,10}
# print(my_set.difference(your_set))
# my_set.discard(5)
# print(my_set)
# print(my_set.difference_update(your_set))
# print(my_set)
# print(my_set.intersection(your_set))
print(my_set.isdisjoint(your_set)) #if any common
print(my_set.union(your_set))

False
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
False

In [30]:
my_set = {4,5}
your_set = {4,5,6,7,8,9,10}
print(my_set.issubset(your_set))
print(my_set.issuperset(your_set))
print(your_set.issuperset(my_set))

True
False
True

In [33]:
school = {'Bobby','Tammy','Jammy','Sally','Danny'}
attendance_list = ['Jammy', 'Bobby', 'Danny', 'Sally']
school.difference(set(attendance_list))

{'Tammy'}