In [1]:
print(type('hi hello there. 24!'))
username = 'supercoder'
password = 'supersecret'
long_string = '''wow
00
--------
'''
print(long_string)

<class 'str'>
wow
00
--------

In [14]:
first_name = "Bhuma"
last_name = "Hareesh"
full_name = first_name+" "+last_name
print(full_name)
print('Bhuma'*3)

Bhuma Hareesh
BhumaBhumaBhuma

* String concatenation only works with strings

### Type conversion

In [4]:
a = str(100)
b = int(a)
c = type(b)
print(c)

<class 'int'>

### Escape sequence

In [11]:
weather = 'It\'s sunny'
print(weather)
MO_Weather = '\tIt\'s \"kind of sunny\"'
print(MO_Weather)
MO_Weather = '\nIt\'s \"kind of sunny\"'
print(MO_Weather)
print("\tIn my 2nd sem worked as GA for \"C#.Net\"\n\tSummer sem worked as GA for \"DV\"\n\tIn my last sem also goingto work as GA for \"DV\"")

It's sunny
	It's "kind of sunny"

It's "kind of sunny"
	In my 2nd sem worked as GA for "C#.Net"
	Summer sem worked as GA for "DV"
	In my last sem also goingto work as GA for "DV"

### Formatted strings

In [20]:
full_name = "Bhuma Hareesh"
age = 25
print(f"my full name is {full_name} and i'm {age} years old")
print("my full name is {} and i'm {} years old".format(full_name,age))
print("my full name is {0} and i'm {1} years old".format(full_name,age))
print("my full name is {full_name} and i'm {age} years old".format(full_name="Bhuma",age=30))

my full name is Bhuma Hareesh and i'm 25 years old
my full name is Bhuma Hareesh and i'm 25 years old
my full name is Bhuma Hareesh and i'm 25 years old
my full name is Bhuma and i'm 30 years old

In [23]:
print("Hello {}, your balance is {}.".format("Cindy", 50))

print("Hello {0}, your balance is {1}.".format("Cindy", 50))

print("Hello {name}, your balance is {amount}.".format(name="Cindy", amount=50))

print("Hello {0}, your balance is {amount}.".format("Cindy", amount=50))

name = "cindy"
balance = 50
print(f"Hello {name}, your balance is {balance}")

Hello Cindy, your balance is 50.
Hello Cindy, your balance is 50.
Hello Cindy, your balance is 50.
Hello Cindy, your balance is 50.
Hello cindy, your balance is 50

### String Indexes

* [Start:Stop:Stepover] 
* By default stepover is 1

In [24]:
selfish ="me me me"
print(selfish[0:])
print(selfish[::])
print(selfish[::-1])
print(selfish[-1:1:-1])

me me me
me me me
em em em
em em

In [25]:
python = 'I am PYHTON'

print(python[1:4])
print(python[1:])
print(python[:])
print(python[1:100])
print(python[-1])
print(python[-4])
print(python[:-3])
print(python[-3:])
print(python[::-1])

 am
 am PYHTON
I am PYHTON
 am PYHTON
N
H
I am PYH
TON
NOTHYP ma I

### Immutability
* String in python are Immutable they can't change

In [27]:
name = "hareesh"
name[0] = "B"
print(name) # The only way to cahnge the string is completly reassign the value

TypeError: 'str' object does not support item assignment

### Built-In functions + Methods
* .format() is a method
* Print(), len() are built-in functions

In [35]:
quote = "to be or not to be"
print(quote.upper())
print(quote.capitalize())
print(quote[1:len(quote):2])
print(quote.lower())
print(quote.find('b'))
print(quote.replace(' ','\t'))
print(quote)
print(quote.islower())

TO BE OR NOT TO BE
To be or not to be
ob rntt e
to be or not to be
3
to	be	or	not	to	be
to be or not to be
True

### Booleans
* True
* False
* Booleans will be used to control our programms

In [42]:
name = "Bhuma"
is_cool = True
print(bool(1))
print(bool(0))

True
False

### Excercise

In [45]:
birth_year = int(input("what year you were born"))
age = 2020 - birth_year
print(f"Hello your age is {age}")

what year you were born 1994

Hello your age is 26

In [46]:
age = 2020 - bool(birth_year)
print(f"Hello your age is {age}")

Hello your age is 2019